<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

        <h3 th:if="${size}" th:text="${size}"> </h3>
        <h3 th:if="${size}">Result(s)</h3>


    <table th:replace="search :: table"> </table>
</div>

</body>
</html>